/**
 * main.scss
 *
 * MAIN STYLESHEET
 */
/* MIXINS
   ----------------------------- */
/* BORDER RADIUS
   ============================= */
/* BOX SHADOW
   ============================= */
/* BOX SIZING
   ============================= */
/* FONTS PRESETS
   ============================= */
/* PREFIXER
   ============================= */
/* TRANSITIONS
   ============================= */
/* USER SELECT
   ============================= */
/* EXTENDS
   ----------------------------- */
/* BACKGROUND COVER
   ============================= */
/* CENTER
   ============================= */
/* COVERER
   ============================= */
/* PRESERVE 3D
   ============================= */
/* VARIABLES
   ----------------------------- */
/* COLORS
   ============================= */
/* SIZES
   ============================= */
/* OTHER
   ============================= */
/* BASE
   ----------------------------- */
/* RESET
   ============================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  overflow-scrolling: touch; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

/* FONTS LOADER
   ============================= */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(../assets/fonts/raleway-light.woff) format("woff"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url(../assets/fonts/raleway-extra-bold.woff) format("woff"); }
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), url(../assets/fonts/merriweather-regular.woff) format("woff"); }
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(../assets/fonts/merriweather-bold.woff) format("woff"); }
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(../assets/fonts/merriweather-italic.woff) format("woff"); }
/* DEFAULT STYLE OF THE BODY
   ============================= */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Merriweather", serif;
  font-size: 16px; }

/* COMPONENTS
   ----------------------------- */
/* BTN
   ============================= */
.btn {
  /* yolo */ }
