/**
 * main.scss
 *
 * MAIN STYLESHEET
 */
/* MIXINS
   ----------------------------- */
/* BORDER RADIUS
   ============================= */
/* BOX SHADOW
   ============================= */
/* BOX SIZING
   ============================= */
/* FONTS PRESETS
   ============================= */
/* OUTLINE
   ============================= */
/* PREFIXER
   ============================= */
/* TRANSITIONS
   ============================= */
/* USER SELECT
   ============================= */
/* Z DEPHT
   ============================= */
/* EXTENDS
   ----------------------------- */
/* BACKGROUND COVER
   ============================= */
/* CENTER
   ============================= */
/* COVERER
   ============================= */
/* PRESERVE 3D
   ============================= */
/* VARIABLES
   ----------------------------- */
/* COLORS
   ============================= */
/* SIZES
   ============================= */
/* OTHER
   ============================= */
/* BASE
   ----------------------------- */
/* RESET
   ============================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield; }

/* FONTS LOADER
   ============================= */
@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoDraft"), url(../assets/fonts/roboto-regular.woff) format("woff"); }
@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 300;
  src: local("RobotoDraft Light"), local("RobotoDraft-Light"), url(../assets/fonts/roboto-light.woff) format("woff"); }
@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 500;
  src: local("RobotoDraft Medium"), local("RobotoDraft-Medium"), url(../assets/fonts/roboto-medium.woff) format("woff"); }
@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 700;
  src: local("RobotoDraft Bold"), local("RobotoDraft-Bold"), url(../assets/fonts/roboto-bold.woff) format("woff"); }
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), url(../assets/fonts/merriweather-regular.woff) format("woff"); }
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(../assets/fonts/merriweather-bold.woff) format("woff"); }
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(../assets/fonts/merriweather-italic.woff) format("woff"); }
/* DEFAULT STYLE OF THE BODY
   ============================= */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Merriweather", serif;
  font-size: 16px; }

/* COMPONENTS
   ----------------------------- */
/* BTN
   ============================= */
.btn {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 35px;
  margin: 10px;
  background: transparent;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  overflow: hidden;
  font-family: "RobotoDraft", sans-serif;
  font-size: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* FLAT BTN
   ============================= */
.btn--flat {
  overflow: hidden;
  -webkit-transition: outline-color .15s;
  -moz-transition: outline-color .15s;
  -ms-transition: outline-color .15s;
  -o-transition: outline-color .15s;
  transition: outline-color .15s;
  outline: transparent solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat:focus {
  outline: #5677fc solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--red {
  color: #e51c23; }

.btn--flat.btn--red .ripple {
  background: #e51c23; }

.btn--flat.btn--red:focus {
  outline: #e51c23 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--pink {
  color: #e91e63; }

.btn--flat.btn--pink .ripple {
  background: #e91e63; }

.btn--flat.btn--pink:focus {
  outline: #e91e63 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--purple {
  color: #9c27b0; }

.btn--flat.btn--purple .ripple {
  background: #9c27b0; }

.btn--flat.btn--purple:focus {
  outline: #9c27b0 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--deep-purple {
  color: #673ab7; }

.btn--flat.btn--deep-purple .ripple {
  background: #673ab7; }

.btn--flat.btn--deep-purple:focus {
  outline: #673ab7 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--indigo {
  color: #3f51b5; }

.btn--flat.btn--indigo .ripple {
  background: #3f51b5; }

.btn--flat.btn--indigo:focus {
  outline: #3f51b5 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--blue {
  color: #5677fc; }

.btn--flat.btn--blue .ripple {
  background: #5677fc; }

.btn--flat.btn--blue:focus {
  outline: #5677fc solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--light-blue {
  color: #03a9f4; }

.btn--flat.btn--light-blue .ripple {
  background: #03a9f4; }

.btn--flat.btn--light-blue:focus {
  outline: #03a9f4 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--cyan {
  color: #00bcd4; }

.btn--flat.btn--cyan .ripple {
  background: #00bcd4; }

.btn--flat.btn--cyan:focus {
  outline: #00bcd4 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--teal {
  color: #009688; }

.btn--flat.btn--teal .ripple {
  background: #009688; }

.btn--flat.btn--teal:focus {
  outline: #009688 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--green {
  color: #259b24; }

.btn--flat.btn--green .ripple {
  background: #259b24; }

.btn--flat.btn--green:focus {
  outline: #259b24 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--light-green {
  color: #8bc34a; }

.btn--flat.btn--light-green .ripple {
  background: #8bc34a; }

.btn--flat.btn--light-green:focus {
  outline: #8bc34a solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--lime {
  color: #cddc39; }

.btn--flat.btn--lime .ripple {
  background: #cddc39; }

.btn--flat.btn--lime:focus {
  outline: #cddc39 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--yellow {
  color: #ffeb3b; }

.btn--flat.btn--yellow .ripple {
  background: #ffeb3b; }

.btn--flat.btn--yellow:focus {
  outline: #ffeb3b solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--amber {
  color: #ffc107; }

.btn--flat.btn--amber .ripple {
  background: #ffc107; }

.btn--flat.btn--amber:focus {
  outline: #ffc107 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--orange {
  color: #ff9800; }

.btn--flat.btn--orange .ripple {
  background: #ff9800; }

.btn--flat.btn--orange:focus {
  outline: #ff9800 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--deep-orange {
  color: #ff5722; }

.btn--flat.btn--deep-orange .ripple {
  background: #ff5722; }

.btn--flat.btn--deep-orange:focus {
  outline: #ff5722 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--brown {
  color: #795548; }

.btn--flat.btn--brown .ripple {
  background: #795548; }

.btn--flat.btn--brown:focus {
  outline: #795548 solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--gray {
  color: #9e9e9e; }

.btn--flat.btn--gray .ripple {
  background: #9e9e9e; }

.btn--flat.btn--gray:focus {
  outline: #9e9e9e solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat.btn--blue-grey {
  color: #607d8b; }

.btn--flat.btn--blue-grey .ripple {
  background: #607d8b; }

.btn--flat.btn--blue-grey:focus {
  outline: #607d8b solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

.btn--flat:focus:active {
  outline: transparent solid 2px;
  outline-offset: 2px;
  -webkit-outline-radius: 3px;
  -moz-outline-radius: 3px;
  -ms-outline-radius: 3px;
  -o-outline-radius: 3px;
  outline-radius: 3px; }

/* RAISED BTN
   ============================= */
.btn--raised {
  background: #dfdfdf;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -ms-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=1.5); }

.btn--raised:hover,
.btn--raised:focus {
  outline: none;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  -webkit-box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.16);
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=3); }

.btn--raised:hover {
  background: #e6e6e6; }

.btn--raised:active {
  background: #dfdfdf;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=1.5); }

/* RIPPLE
   ============================= */
.ripple {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #9e9e9e; }

.ripple__circle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  background: inherit;
  opacity: .2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

/* ANIMATED RIPPLE CIRCLE
   ============================= */
.ripple__circle--animate {
  width: 100px;
  height: 0;
  margin: -50px 0 0 -50px;
  -webkit-animation: ripple 0.6s ease-out;
  -moz-animation: ripple 0.6s ease-out;
  -ms-animation: ripple 0.6s ease-out;
  -o-animation: ripple 0.6s ease-out;
  animation: ripple 0.6s ease-out; }

@-webkit-keyframes ripple {
  from {
    height: 100px; }

  to {
    height: 100px;
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); } }
@-moz-keyframes ripple {
  from {
    height: 100px; }

  to {
    height: 100px;
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); } }
@-ms-keyframes ripple {
  from {
    height: 100px; }

  to {
    height: 100px;
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); } }
@-o-keyframes ripple {
  from {
    height: 100px; }

  to {
    height: 100px;
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); } }
@keyframes ripple {
  from {
    height: 100px; }

  to {
    height: 100px;
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); } }
