{
  "printWidth": 80,
  "parser": "flow",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    },
    {
      "files": ["*.json", ".prettierrc", ".eslintrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
