
/**
 * main.scss
 *
 * Main Stylesheet
 */


/* VARIABLES
   ----------------------------- */

@import "variables/colors";
@import "variables/sizes";
@import "variables/others";

/* MIXINS
   ----------------------------- */

@import "mixins/animation";
@import "mixins/border-radius";
@import "mixins/box-shadow";
@import "mixins/box-sizing";
@import "mixins/font-size";
@import "mixins/fonts";
@import "mixins/keyframes";
@import "mixins/medias";
@import "mixins/opacity";
@import "mixins/outline";
@import "mixins/position";
@import "mixins/prefix";
@import "mixins/transition";
@import "mixins/user-select";
@import "mixins/zdepht";

/* EXTENDS
   ----------------------------- */

@import "extends/background-cover";
@import "extends/center";
@import "extends/coverer";
@import "extends/preserve-3d";

/* BASE
   ----------------------------- */

@import "base/reset";
@import "base/fonts-loader";
@import "base/body";
@import "base/layouts";
@import "base/grid";

/* COMPONENTS
   ----------------------------- */

@import "components/button/button";
@import "components/button/flat";
@import "components/button/raised";