
/**
 * base/fonts-loader.scss
 * 
 * Fonts loader
 */


// TITLES

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 400;
	src: local("RobotoDraft"), url(../fonts/roboto-regular.woff) format("woff");

}

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 300;
	src: local("RobotoDraft Light"), local("RobotoDraft-Light"), url(../fonts/roboto-light.woff) format("woff");

}

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 500;
	src: local("RobotoDraft Medium"), local("RobotoDraft-Medium"), url(../fonts/roboto-medium.woff) format("woff");

}

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 700;
	src: local("RobotoDraft Bold"), local("RobotoDraft-Bold"), url(../fonts/roboto-bold.woff) format("woff");

}

// PARAGRAPHS

@font-face {

	font-family: "Merriweather";
	font-style: normal;
	font-weight: 400;
	src: local("Merriweather"), url(../fonts/merriweather-regular.woff) format("woff");

}

@font-face {

	font-family: "Merriweather";
	font-style: normal;
	font-weight: 700;
	src: local("Merriweather Bold"), local("Merriweather-Bold"), url(../fonts/merriweather-bold.woff) format("woff");

}

@font-face {

	font-family: "Merriweather";
	font-style: italic;
	font-weight: 400;
	src: local("Merriweather Italic"), local("Merriweather-Italic"), url(../fonts/merriweather-italic.woff) format("woff");

}