
/**
 * components/button/flat.scss
 * 
 * Flat button
 */

.button--flat {

	overflow: hidden;

	@include transition(#{"outline 0.1s, outline-offset 0.1s"});

	@include outline(transparent);

}

.button--flat:focus {

	@include outline;

}

@each $array in $colors {

	$_color-name: nth($array, 1);
	$_color-value: nth($array, 2);

	.button--flat.button--#{$_color-name} {
	
		color: $_color-value;

	}

	.button--flat.button--#{$_color-name} .ripple {

		background-color: $_color-value;

	}

	.button--flat.button--#{$_color-name}:focus {

		@include outline($_color-value);

	}

	.button--flat.button--outline-#{$_color-name}:focus {

		@include outline($_color-value);

	}

	.button--flat.button--ripple-#{$_color-name} .ripple {

		background-color: $_color-value;

	}

}

.button--flat.disabled {

	color: $grey;
	background: $light-grey;
	outline: none!important;

}