.btn {

    display: inline-block;
    padding: 8px 16px;
    margin: 10px 0;

    font: title 400 16px;
    color: white;
    text-decoration: none;

    cursor: pointer;
    background: $blue;
    border-radius: 5px;
    transition: .1s;

}
.btn:focus,
.btn:hover {
    outline: none;
    background: color($blue lightness(+10%));
}
.btn:active {
    background: color($blue blackness(+5%));
}
