.btn {

    margin: 20px @(print) 100px;
    color: red @(print, (max-width: 600px)) blue;
    border-color: blue @(max-width: 600px) red;
    border: 1px solid blue;

    font-size: 32px;
    color: color(blue a(.7));

}
