
/* FLAT BTN
   ============================= */

.btn--flat {

	overflow: hidden;
   	
   	@include transition(#{"outline-color .15s"});

	@include outline(transparent);

}

.btn--flat:focus {

	@include outline;

}

@each $name, $color in $colors {

	.btn--flat.btn--#{$name} {

		color: $color;

	}

	.btn--flat.btn--#{$name} .ripple {

		background: $color;

	}

	.btn--flat.btn--#{$name}:focus {

		@include outline($color);

	}

}

.btn--flat:focus:active {

	@include outline(transparent);

}