
/**
 * button/button.scss
 * 
 * Button
 */

.button {

	position: relative;
	
	display: inline-block;
	width: 160px;
	height: 35px;
	margin: 10px;

	background-color: transparent;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 35px;
	overflow: hidden;
	user-select: none;
	border-radius: 3px;
	
	@include font-title(16px);

}

.button.is-disabled {

	cursor: default;

}