.button {

	position: relative;
	
	display: inline-block;
	size: 160px 35px;
	margin: 10px;

	text-transform: uppercase;
	text-align: center;
	line-height: 35px;
	
	background: transparent;
	cursor: pointer;
	border: none;
	user-select: none;
	border-radius: 3px;
	overflow: hidden;

	@mixin font-title 16px;

}

.button.is-disabled {

	cursor: default;

}