.button--flat {

	overflow: hidden;
	transition: outline 0.1s, outline-offset 0.1s;

	@include outline(transparent);

}

.button--flat:focus {

	@include outline;

}

@each $array in $colors {

	$_color-name: nth($array, 1);
	$_color-value: nth($array, 2);

	.button--flat.button--#{$_color-name} {

		color: $_color-value;

	}

	.button--flat.button--#{$_color-name}:focus {

		@include outline-color($_color-value);

	}

}

.button--flat.is-disabled {

	color: $grey;
	background: $light-grey;

	/*csslint outline-none:false, important:false */
	outline: none!important;
	/*csslint outline-none:true, important:true */

}