.button--raised {

	color: white;

	bg: $primary;
	transition: .15s;
	
}

.button--raised:hover,
.button--raised:focus {

	bg: color($primary lightness(+10%));
	transition: .25s;

}

.button--raised:active {

	bg: $primary;
	transition: .2s;

}

.button--raised.is-disabled {
	
	color: $grey;

	bg: $light-grey;

}