.button--raised {

	background: #e2e2e2;
	transition: .15s;

	@include z-depht(1);
	
}

.button--raised:hover,
.button--raised:focus {

	outline: none;
	transition: .25s;

	@include z-depht(2);

}

.button--raised:hover {

	background: lighten(#e2e2e2, 2);

}

.button--raised:active {

	background: #e2e2e2;
	transition: .2s;

	@include z-depht(1);

}


%button--color-white {
	
	color: white;

}

@each $array in $colors {

	$_color-name: nth($array, 1);
	$_color-value: nth($array, 2);

	.button--raised.button--#{$_color-name} {

		background: $_color-value;

	}

	@if $_color-name != yellow {

		.button--raised.button--#{$_color-name} {

			@extend %button--color-white;

		}

	}

}


.button--raised.is-disabled {
	
	color: $grey;
	background: $light-grey;

	@include z-depht(0);

}

.button--raised.is-disabled:hover {
	
	@include z-depht(0);

}