
/* VARIABLES
   ----------------------------- */

/* Material design colors
   ======================== */
/* Breakpoints
   ======================== */

/* Sizes
   ======================== */
/* Fonts
   ======================== */

/* MIXINS
   ----------------------------- */

/* BASE
   ----------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;

	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;

	-webkit-overflow-scrolling: touch;
	   -moz-overflow-scrolling: touch;

}

html { line-height: 1; }

ol, ul { list-style: none; }

table {

	border-collapse: collapse;
	border-spacing: 0;

}

caption, th, td {

	text-align: left;
	font-weight: normal;
	vertical-align: middle;

}

q, blockquote { quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {

	content: "";
	content: none;

}

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {

	appearance: none;

}

input[type="search"] {

	-webkit-appearance: textfield;
	   -moz-appearance: textfield;

}
/* TITLES
   ======================== */

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 400;
	src: local("RobotoDraft"), url(../fonts/roboto-regular.woff) format("woff");

}

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 300;
	src: local("RobotoDraft Light"), local("RobotoDraft-Light"), url(../fonts/roboto-light.woff) format("woff");

}

/* PARAGRAPHS
   ======================== */

@font-face {

	font-family: "Merriweather";
	font-style: normal;
	font-weight: 400;
	src: local("Merriweather"), url(../fonts/merriweather-regular.woff) format("woff");

}

@font-face {

	font-family: "Merriweather";
	font-style: normal;
	font-weight: 700;
	src: local("Merriweather Bold"), local("Merriweather-Bold"), url(../fonts/merriweather-bold.woff) format("woff");

}

@font-face {

	font-family: "Merriweather";
	font-style: italic;
	font-weight: 400;
	src: local("Merriweather Italic"), local("Merriweather-Italic"), url(../fonts/merriweather-italic.woff) format("woff");

}
html,
body {

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	line-height: 1.3;

	font-family: "Merriweather", serif;

	font-size: 16px;

	font-size: 1rem;

}

/* COMPONENTS
   ----------------------------- */

.app {

	color: black;

} 
.button {

	position: relative;
	
	display: inline-block;
	width: 160px;
	height: 35px;
	margin: 10px;

	text-transform: uppercase;
	text-align: center;
	line-height: 35px;
	line-height: 2.1875rem;
	
	background: transparent;
	cursor: pointer;
	border: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	border-radius: 3px;
	overflow: hidden;

	font-family: "RobotoDraft", sans-serif;

	font-size: 16px;

	font-size: 1rem;

}

.button.is-disabled {

	cursor: default;

} 
.button--flat {

	color: #2196f3;

	overflow: hidden;

}

.button--flat.is-disabled {

	color: #9e9e9e;
	
	background: #eaeaea;

	/*csslint outline-none:false, important:false */
	outline: none!important;
	/*csslint outline-none:true, important:true */

} 
.button--raised {

	color: white;

	background: #2196f3;
	transition: .15s;
	
}

.button--raised:hover,
.button--raised:focus {

	background: #2196f3;
	transition: .25s;

}

.button--raised:hover {

	background: color(#2196f3 lightness(10%)); ;

}

.button--raised:active {

	background: #2196f3;
	transition: .2s;

}

.button--raised.is-disabled {
	
	color: #9e9e9e;
	
	background: #eaeaea;

} 
.container {

	width: 100%;
	max-width: 992px;
	margin: auto;

}

div {

	font-family: "Merriweather", serif;

	font-size: 64px;

	font-size: 4rem;
	position: absolute;
	top: 1px;
	right: 2px;
	bottom: 3px;
	left: 4px;

}

@media (max-width:  360px) {

	div {

		font-family: "Merriweather", serif;

		font-size: 16px;

		font-size: 1rem;

	}

}