.header {
    background: $primary;
}
.header__wrap {

    max-width: 1000px;
    margin: 0 auto;
    padding: 24px 0;

    font: title regular 17px;
    color: white;

    @media (max-width: 1000px) {
        padding-left: 16px;
        padding-right: 16px;
    }

}
