
/* FONTS LOADER
   ============================= */

// TITLES

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 400;
	src: local("RobotoDraft"), url(../assets/fonts/roboto-regular.woff) format("woff");

}

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 300;
	src: local("RobotoDraft Light"), local("RobotoDraft-Light"), url(../assets/fonts/roboto-light.woff) format("woff");

}

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 500;
	src: local("RobotoDraft Medium"), local("RobotoDraft-Medium"), url(../assets/fonts/roboto-medium.woff) format("woff");

}

@font-face {

	font-family: "RobotoDraft";
	font-style: normal;
	font-weight: 700;
	src: local("RobotoDraft Bold"), local("RobotoDraft-Bold"), url(../assets/fonts/roboto-bold.woff) format("woff");

}

// PARAGRAPHS

@font-face {

	font-family: "Merriweather";
	font-style: normal;
	font-weight: 400;
	src: local("Merriweather"), url(../assets/fonts/merriweather-regular.woff) format("woff");

}

@font-face {

	font-family: "Merriweather";
	font-style: normal;
	font-weight: 700;
	src: local("Merriweather Bold"), local("Merriweather-Bold"), url(../assets/fonts/merriweather-bold.woff) format("woff");

}

@font-face {

	font-family: "Merriweather";
	font-style: italic;
	font-weight: 400;
	src: local("Merriweather Italic"), local("Merriweather-Italic"), url(../assets/fonts/merriweather-italic.woff) format("woff");

}