@define-mixin font-italic {

	font-style: italic;

}

@define-mixin font-light {

	font-weight: 300;

}

@define-mixin font-regular {

	font-weight: 500;

}

@define-mixin font-bold {

	font-weight: 700;

}

@define-mixin font-medium {

	font-weight: 500;

}

@define-mixin font-paragraph $size {

	font-family: $font-family-paragraph;
	font-size: $size;

}

@define-mixin font-title $size {

	font-family: $font-family-title;
	font-size: $size;

}