
/**
 * mixins/fonts.scss
 * 
 * Fonts
 */

@mixin font-italic {

	font-style: italic;

}

@mixin font-light {

	font-weight: 300;

}

@mixin font-regular {

	font-weight: 500;

}

@mixin font-bold {

	font-weight: 700;

}

@mixin font-medium {

	font-weight: 500;

}

@mixin font-paragraph($size: 16px) {

	font-family: $font-family-paragraph;

	@include font-size($size);

}

@mixin font-title($size: 28px) {

	font-family: $font-family-title;

	@include font-size($size);

}