@mixin outline($color: $blue, $offset: 2px) {

	outline-style: solid;
	outline-width: 2px;

	@include outline-color($color);

	@if $color != transparent {

		outline-offset: $offset;
		
	}

	@else {
		
		outline-offset: 0;

	}

	-moz-outline-radius: 3px;
            
}

@mixin outline-color($color: $blue) {

    outline-color: $color;
            
}