
/**
 * mixins/outline.scss
 * 
 * Outline
 */

@mixin outline($color: $blue, $offset: 2px) {

    outline: $color solid 2px;

	@if $color != transparent {

		outline-offset: $offset;
		
	}

	@else {
		
		outline-offset: 0;

	}

	-moz-outline-radius: 3px;
            
}