.button {

	p: relative auto;
	
	d: ib;
	size: 160px 35px;
	margin: 10px;
	overflow: hidden;

	@mixin font title, 16px;
	tt: upp;
	ta: center;
	lh: 35px;
	
	bg: transparent;
	border: none;
	user-select: none;
	border-radius: 3px;

}

.button.is-disabled {

	cursor: default;

}