.button {

	position: relative auto;
	
	display: inline-block;
	size: 160px 35px;
	margin: 10px;
	overflow: hidden;

	@mixin font title, 16px;
	text-transform: uppercase;
	text-align: center;
	line-height: 35px;
	
	background: transparent;
	border: none;
	user-select: none;
	border-radius: 3px;

}

.button.is-disabled {
	cursor: default;
}