.button--flat {

	color: $primary;

	overflow: hidden;
	transition: .15s;

}

.button--flat:hover,
.button--flat:focus {
	color: color($primary lightness(+15%));
	transition: .25s;
}

.button--flat:active {
	color: $primary;
	transition: .2s;
}

.button--flat.is-disabled {
	color: $grey;
	background: $light-grey;
	outline: none!important;
}