.button--raised {

	color: white;

	background: $primary;
	transition: .15s;
	
}

.button--raised:hover,
.button--raised:focus {
	background: color($primary lightness(+10%));
	transition: .25s;
}

.button--raised:active {
	background: $primary;
	transition: .2s;
}

.button--raised.is-disabled {
	color: $grey;
	background: $light-grey;
}