$red:         #f44336;
$pink:        #fd538c;
$purple:      #bf32d8;
$blue:        #001DF5;
$green:       #5ac45d;
$yellow:      #ffeb3b;
$orange:      #ff7b00;
$grey:        #9e9e9e;
$light-grey:  #eaeaea;
$dark-grey:   #3a3a3a;

$primary: #001DF5;
$focus-color: #7585ff;
